:host {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  & ::ng-deep > *:not(.mat-toolbar) {
    flex-grow: 1;
  }
}

mat-card {
  display: flex;
  flex-direction: column;
  /* TODO: resolve overflow with x axis */
  overflow-x: hidden;
  overflow-y: auto;
}

.content-toolbar {
  justify-content: space-between;
}

