:host {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  & ::ng-deep > *:not(.mat-toolbar) {
    flex-grow: 1;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
  background-color: #fff;
  padding: 0 10px;
  overflow: auto;
}

.content-toolbar {
  justify-content: space-between;
  min-height: 60px;
}

