.categories-tree {
  .ct-content {
    padding: 20px;
  }
  .ct-header {
    display: flex;
    background: #fff;
    justify-content: space-between;
    padding: 15px 15px;
    &__actions {
      display: flex;
      align-items: center;
    }
    box-shadow: 0px 0px 5px #333;
  }
}