<div id="note-list">
  <div class="nl-header">
    <div class="nl-header__actions">
      <button mat-icon-button matTooltip="Filter By" [matMenuTriggerFor]="notesFilterBy">
        <mat-icon>filter_list</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Create new note" (click)="newNoteSidebar.open()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-paginator [length]="100"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
  <div class="nl-content">
    <mat-accordion>
      <mat-expansion-panel class="customized-material nl-item" *ngFor="let note of noteList; let idx = index" hideToggle>
        <mat-expansion-panel-header [ngStyle]="{'background-color': note.color}">
          <mat-panel-title>
            <div class="nl-item__marks">
              <button mat-icon-button 
                [matTooltip]="note.favorite ? 'Unmark' : 'Mark as favorite'"
                (click)="toogleMark($event, 'favorite', idx)"
              >
                <mat-icon class="customized-material light-mode" [ngClass]="{'marked': note.favorite}">favorites</mat-icon>
              </button>
              <button mat-icon-button 
                [matTooltip]="note.important ? 'Unmark' : 'Mark as important'"
                (click)="toogleMark($event, 'important', idx)"
              >
                <mat-icon class="customized-material light-mode" [ngClass]="{'marked': note.important}">label_important</mat-icon>
              </button>
            </div>
            <span class="nl-item__name">{{ note.name }}</span>
          </mat-panel-title>
          <mat-panel-description>
            <span class="nl-item__text">{{ note.text }}</span>
            <div class="nl-item__header-actions">
              <button mat-icon-button matTooltip="Edit">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button matTooltip="Remove">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-note-short-details [note]="note"></app-note-short-details>
        <mat-action-row>
          <button mat-button color="primary" (click)="editNote(note); newNoteSidebar.open()">Edit Note</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
    <button (click)="sidebar.open()">Open</button>
    <button (click)="sidebar.close()">Close</button>
    <button (click)="newNoteSidebar.open()">New Note sidebar Open</button>
    <button (click)="newNoteSidebar.close()">New Note sidebar Close</button>
  </div>
</div>

<app-sidebar name="testSidebar" #sidebar>
  <mat-card>
    <app-color-selector [(ngModel)]="data" (ngModelChange)="test($event)"></app-color-selector>
  </mat-card>
</app-sidebar>

<app-sidebar name="newNote" width="500px" #newNoteSidebar>
  <mat-card>
    <app-note-management [note]="selectedNote"></app-note-management>
  </mat-card>
</app-sidebar>


<!-- CDK overlay components -->
<mat-menu #notesFilterBy="matMenu" >
  <button mat-menu-item>
    <mat-icon>favorites</mat-icon>
    <span>Favorites</span>
  </button>
  <button mat-menu-item>
    <mat-icon>label_important</mat-icon>
    <span>Important</span>
  </button>
</mat-menu>
