:host {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#note-list {
  .nl-header {
    display: flex;
    background: #fff;
    justify-content: space-between;
    padding: 0 15px;
    &__actions {
      display: flex;
      align-items: center;
    }
  }
  .nl-content {
    .mat-expansion-panel-header-description {
      justify-content: space-between;
      align-items: center;
    }
    .nl-item {
      &__marks {
        margin-right: 10px;
      }
    }
  }
}