:host {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#note-list {
  .nl-header {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    background: #fff;
    padding: 0 15px;
    min-height: 50px;
    box-shadow: 0px 2px 5px #cecece;
    &__actions {
      display: flex;
      align-items: center;
      padding-right: 10px;
      margin-right: 20px;
      border-right: 1px solid #dcdcdc;
    }
    &__filtered {
      display: flex;
      align-items: center;
      & > span {
        font-size: 20px;
        color: #a9a9a9;
        margin-right: 10px;
      }
    }
  }
  .nl-content {
    .mat-expansion-panel-header-description {
      justify-content: space-between;
      align-items: center;
    }
    .mat-action-row {
      justify-content: flex-start;
    }
    .nl-item {
      &__marks {
        margin-right: 10px;
      }
    }
    
  }
}
.categories-wrapper {
  margin: 0 -10px;
}