<div id="note-list">
  <div class="nl-header">
    <div class="nl-header__actions">
      <button mat-icon-button matTooltip="Filter By" [matMenuTriggerFor]="notesFilterBy">
        <mat-icon>filter_list</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Create new note" (click)="createNote(); noteManagement.open()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="nl-header__filtered">
      <span>Filter By Tags </span>
      <mat-chip-list>
        <mat-chip class="tag" *ngFor="let tag of filteredByTags" (removed)="filterNote(tag, 'Remove')">
          <mat-icon class="customized-material light-mode marked">{{tag.icon}}</mat-icon>
          <span class="tag__name">{{tag.name}}</span>
          <mat-icon class="tag__actions" matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <div class="nl-content">
    <mat-accordion>
      <mat-expansion-panel class="customized-material nl-item" *ngFor="let note of noteList$ | async; let idx = index" hideToggle>
        <mat-expansion-panel-header [ngStyle]="{'background-color': note.colorRGBA}">
          <mat-panel-title>
            <span class="nl-item__name">{{ note.name }}</span>
          </mat-panel-title>
          <mat-panel-description>
            <span class="nl-item__text">{{ note.shortDescription }}</span>
            <div class="nl-item__header-actions">
              <button mat-icon-button matTooltip="Remove" (click)="removeNote($event, note.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-note-details [note]="note"></app-note-details>
        <mat-action-row>
          <button mat-button color="primary" (click)="editNote(note); noteManagement.open()">Edit Note</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<app-sidebar name="noteManagement" [sidebarTitle]="noteManagementSidebar.title" width="600px" #noteManagement>
  <app-note-management  [note]="selectedNote" (onSubmit)="onSubmitNote($event)"></app-note-management>
</app-sidebar>

<app-sidebar name="categories" sidebarTitle="Categories" width="600px" #cat>
  <div class="categories-wrapper">
    <app-categories-tree></app-categories-tree>
  </div>
</app-sidebar>

<app-sidebar name="tags" sidebarTitle="Tags" width="400px" #tags>
  <app-tag-list></app-tag-list>
</app-sidebar>


<!-- CDK overlay components -->
<mat-menu #notesFilterBy="matMenu" >
  <ng-container *ngFor="let tag of tagList$ | async">
    <button mat-menu-item (click)="filterNote(tag, 'Add')">
      <mat-icon>{{tag.icon}}</mat-icon>
      <span>{{tag.name}}</span>
    </button>
  </ng-container>
</mat-menu>
