/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './partials/variables';
@import './partials/mixins';

html,
body {
  padding: 0;
  margin: 0;
}

.cdk-overlay-container {
  /* sidebar system starts from 1000 the same as cdk-overlay */
  z-index: 2000;
} 

.customized-material.mat-list.mat-list-base {
  padding-top: 0;
}

.customized-material.mat-expansion-panel {
  .mat-expansion-panel-header-title {
    align-items: center;
  }
}

.customized-material.mat-icon {
  &.light-mode {
    color: $black-light-color;
  }
  &.light-mode.marked {
    color: $red-color;
  }
}

.customized-material.color-selector {
  .mat-select-value-text {
    line-height: 48px;
  }
}


.customized-ckeditor {
  .ck-editor__editable {
    max-height: 300px;
    overflow-y: auto;
  }
}

.tag {
  width: 160px;
  display: flex;
  &__name {
    margin: 0 5px;
    display: inline-block;
    max-width: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__actions {
    margin-left: auto !important;
    cursor: pointer;
    mat-icon {
      @include mat-icon-size(16px);
      &:first-child {
        margin-right: 2px;
      }
    }
  }
}