
<main class="main-content">
  <mat-toolbar color="primary">
    <div class="left-nav">
      <app-sidebar-list></app-sidebar-list>
    </div>
    <div class="right-nav">
      <button mat-button routerLink="/notes" class="nav-route">
        <mat-icon>notes</mat-icon>
        <span>Notes</span>
      </button>
      <button mat-button routerLink="/categories" class="nav-route">
        <mat-icon>category</mat-icon>
        <span>Categories</span>
      </button>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</main>


  
  
  