<form class="note-management-form">
  <div class="form-control">
    <div class="form-control__header">
      <h4 class="form-control__label">Write the note name:</h4>
    </div>
    <mat-form-field>
      <mat-label>Note name</mat-label>
      <input type="text" matInput name="note-name" #noteName="ngModel" [(ngModel)]="note.name">
    </mat-form-field>
  </div>
  <div class="form-control">
    <div class="form-control__header">
      <h4 class="form-control__label">Choose a color for the note:</h4>
    </div>
    <app-color-selector name="note-color" #noteColor="ngModel" [(ngModel)]="note.color"></app-color-selector>
  </div>
  <div class="form-control">
    <div class="form-control__header">
      <h4 class="form-control__label">Write sort description:</h4>
    </div>
    <mat-form-field>
      <mat-label>Short description</mat-label>
      <input matInput  name="short" #short="ngModel" maxlength="40" [(ngModel)]="note.shortDescription">
    </mat-form-field>
  </div>
  <div class="form-control">
    <div class="form-control__header no-mat">
      <h4 class="form-control__label">Write the note text:</h4>
    </div>
    <ckeditor class="customized-ckeditor" [(ngModel)]="note.text" [ngModelOptions]="{standalone: true}" [editor]="Editor"></ckeditor>
  </div>
  <div class="form-control">
    <div class="form-control__header no-mat">
      <h4 class="form-control__label">Note Categories</h4>
      <button mat-icon-button matTooltip="Add Category" (click)="openCategories()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-chip-list>
      <mat-chip *ngFor="let cat of note.categories" (removed)="removeCategory(cat)">
        {{cat.name}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
  <div class="form-control">
    <div class="form-control__header no-mat">
      <h4 class="form-control__label">Note Tags</h4>
      <button mat-icon-button matTooltip="Add Tag" (click)="openTags()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-chip-list>
      <mat-chip class="tag" *ngFor="let tag of note.tags" (removed)="removeTag(tag)">
        <mat-icon class="customized-material light-mode marked" *ngIf="tag.icon">{{tag.icon}}</mat-icon>
        <span class="tag__name">{{ tag.name }}</span>
        <mat-icon class="tag__actions" matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
  <div class="form-actions">
    <button  mat-button (click)="submit()">Submit</button>
  </div>
</form>
