:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.note-management-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.form-control {
  padding: 20px 10px;
  overflow: hidden;
  &__header {
    margin: 0 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.no-mat {
      margin-bottom: 20px;
    }
  }
  &__label {
    margin: 0;
  }
}
.form-actions {
  margin-top: auto;
  padding: 10px;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}