@import '../../../../styles/partials/mixins';

.sidebar-list {
  display: flex;
  align-items: center;
  &__label {
    margin-right: 10px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-shadow: 0px 0px 2px #cecece;
    font-size: 12px;
    cursor: pointer;
    &-title {
      display: inline-block;
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 5px;
    }
    mat-icon {
      vertical-align: middle;
      @include mat-icon-size(12px);
    }
  }
}