@import '../../../styles//partials/mixins';

.category-content {
  position: relative;
  margin: 20px 0;
  font-size: 20px;
  .category-data {
    display: flex;
    align-items: center;
  }
  .category-actions {
    display: flex;
    margin-left: 10px;
    mat-icon {
      @include mat-icon-size(18px);
    }
    &__btn {
      display: flex;
      cursor: pointer;
      margin-right: 5px;
      
    }
  }
  
  .tree-node-connector {
    &__vertical {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        top: 1em;
        background-color: #333;
        width: 1px;
      }
    }
    &__horizontal {
      position: absolute;
      top: 0.3em;
      left: -40px;
      border-top: 5px solid transparent;
      border-right: 10px solid #333;
      border-bottom: 5px solid transparent;
      &:after {
        content: "";
        position: absolute;
        height: 1px;
        width: 38px;
        background-color: #333;
      }
    }
  }
}
.category-children {
  padding-left: 40px;
}
